# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*

# Nest.js build
dist/

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Testing
coverage/
test-results/

# Env files
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# IDE specific files
.idea/
.vscode/
*.swp

# MacOS system files
.DS_Store

# PlantUML diagram
*.plantuml
